body {
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
  }

.navig {
        display: flex;
        justify-content: flex-end;
        align-items: center;
}

.back {background-color: darkcyan; color: blanchedalmond;}
.titles{
font-style:inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.adress{
font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.paragraph{
font-style: normal; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium; font-weight: 500;
}

