.name-list{margin:auto; }
.centro{text-align: center;}
.back {background-color: darkcyan; color: blanchedalmond;}
.titles{
font-style:inherit; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.adress{
font-style: italic; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.paragraph{
font-style: normal; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: medium; font-weight: 500;
}

